.concontiner {
    margin-top: 0px;
}

.title {
    font-size: 24px;
    font-weight: 600;
}

.btn-newvoice {
    margin-left: 20px;
    padding: 5px 20px;
    background-color: #3498db;
    color: #fff;
    font-size: 14px;
    border: 1px solid #3498db;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

.btn-newvoice:hover {
background-color: #2980b9;
color: #fff;
}

.voicetable {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    font-size: 14px;
}

.voicetable th, .voicetable td {
    padding: 6px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.voicetable th {
    background-color: #ffffff;
}

.voicetable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#drop-area {
    border: 2px dashed #ccc;
    padding: 20px;
    cursor: pointer;
    text-align: center;
}

.truncate {
    width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .truncate:hover {
    cursor: pointer;
  }

textarea {
    margin-top: 20px;
    width: 94%;
    padding: 10px;
    background-color: #F9F9F9;
    border-radius: 5px;
    border: 1px solid #497AF6;
    font-size: 14px;
    resize: none;
}
