<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
    <title>振南知波语音在线合成平台</title>
</head>
<body>
    
    <div class="container">
        <div class="top-block">
            <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="logo" class="logo" />
            <h1>ZN Voice</h1>
        </div>
        <div class="middle-block">
            <div class="left">
                <p class="tip-text">1.输入需要合成的语音文字</p>
                <div>
                    <textarea rows="4" placeholder="在这里输入文本" id="text"></textarea>
                    <p class="btn-clear" id="clear">清空输入</p>
                    <div class="sund-content-select"> 
                        <p class="tip-text">2.选择关联音频:</p>
                        <select id="sound" name="sound" class="select">
                            {% for file in respone.files %}
                            <option value="{{file.id}}">{{ file.filename }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="sund-content-select"> 
                        <p class="tip-text">3.选择音频模型:</p>
                        <select id="model" name="model" class="select">
                            {% for model in respone.models %}
                                <option value="{{model.id}}">{{model.name}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <button class="custom-button" id="btn-getvoice">合成语音</button>

                    <p class="tip-text">4.合成结果:</p>
                    
                    <div class="info">
                        <div class="file-info">
                            <div class="info-item"> 
                                <p class="info-title padd">合成进度:</p>
                                <div class="progress-bar">
                                    <div class="progress" id="progress" style="width: 0;"></div>
                                </div>
                            </div>

                            <div class="info-item">
                                <p class="info-title padd">生成文件名:</p>
                                <p class="info-result" id="file-name-result">暂无音频</p>
                            </div>

                            <div class="info-item">
                                <p class="info-title padd">时间:</p>
                                <p class="info-result" id="file-time-result">暂无信息</p>
                            </div>

                            <div class="info-item">
                                <p class="info-title padd">时长:</p>
                                <p class="info-result" id="file-length">暂无信息</p>
                            </div>

                            <div class="info-item">
                                <p class="info-title padd">文件大小:</p>
                                <p class="info-result" id="file-size">暂无信息</p>
                            </div>

                            <div class="info-item">
                                <p class="info-result truncate" id="file-text">暂无描述信息</p>
                            </div>

                        </div>
                    </div>

                <div class="play-audio">
                    <button class="btn-play" id="local-play">本地浏览器播放</button>
                    <button class="btn-play" id="server-play">远程主机播放</button>
                    <button class="btn-play" id="sos">一键呼叫振南</button>
                </div>
                
                </div>
        </div>
            <div class="right">
                <div class="account-area"> 
                    <div class="account-info">
                        <div class="account-title">账号信息</div>
                        <div class="account-logout" onclick="logout()">退出登录</div>
                    </div>

                    <div class="account-info-text-line"> 
                        <div class="info-item">
                            <p class="info-title">UID:</p>
                            <p class="info-result" id="user-info-uid">暂无信息</p>
                        </div>
                        <div class="info-item">
                            <p class="info-title">用户名:</p>
                            <p class="info-result" id="user-info-username">暂无信息</p>
                        </div>
                        <div class="info-item">
                            <p class="info-title">登录时间:</p>
                            <p class="info-result" id="user-info-last-login">暂无信息</p>
                        </div>
                    </div>
                </div>

                <div class="statics-area"> 
                    <div class="statics-info">
                        <div class="statics-title">使用统计</div>
                    </div>

                    <div class="statics-info-text-line"> 
                        <div class="info-item">
                            <p class="info-title">今日合成次数:</p>
                            <p class="info-result" id="combined-count">暂无信息</p>
                        </div>
                        <div class="info-item">
                            <p class="info-title">今日本地播放次数:</p>
                            <p class="info-result" id="file-localplay-count">暂无信息</p>
                        </div>
                        <div class="info-item">
                            <p class="info-title">今日远程播放次数:</p>
                            <p class="info-result" id="file-serverplay-count">暂无信息</p>
                        </div>
                    </div>
                </div>


                <div class="reminder-area"> 
                    <div class="reminder-info">
                        <div class="reminder-title">提醒</div>
                    </div>

                    <div class="reminder-info-text-line"> 
                        <div class="info-item">
                            <p class="info-title">无</p>
                            <p class="info-result" id="file-size">无</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="bottom-block"></div>
    
    </div>
    <script> 
        var audio_path = '';
        document.getElementById('btn-getvoice').addEventListener('click', function() {
            var get_sound_value = document.getElementById('sound').value;
            var text = document.getElementById('text').value;
            var textparameter = 'text=' + text; 
            var selectparameter = '&select=' + get_sound_value; 

            if (text === '') {
                alert('输入框不能为空，请输入内容');
                return ;
            }

            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/api/getmsg?' + textparameter + selectparameter, true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState == XMLHttpRequest.DONE) {
                    if (xhr.status == 200) {
                        console.log(xhr.responseText);
                        if (xhr.status >= 200 && xhr.status < 300) {
                            var response = JSON.parse(xhr.responseText);
                            audio_path = response.data;
                            document.getElementById("file-name-result").innerText = response.data;
                            document.getElementById("file-time-result").innerText = response.time;
                            document.getElementById("file-length").innerText = response.length + "(s)";
                            document.getElementById("file-size").innerText = response.size + "(M)";
                            document.getElementById("file-text").innerText = response.text;
                            if (response.msg == "含有违禁词"){
                                alert("检测到含有违禁词")
                            } else {
                                console.log("合成完成");
                                get_combined_info();
                            };
                        }
                    } else {
                        console.log('请求失败');
                    }
                }
            };

            xhr.onprogress = function(event) {
            if (event.lengthComputable) {
                var percentComplete = (event.loaded / event.total) * 100;
                document.getElementById('progress').style.width = percentComplete + '%';
            } else {
                var percentComplete = (event.loaded / (1024 * 1024)) * 100;
                document.getElementById('progress').style.width = percentComplete + '%';
            }
            };

            xhr.send();
        });

        document.getElementById('server-play').addEventListener('click', function() {
            if (audio_path == ''){
                alert("没有可播放的音频文件");
                return 
            }
            var sound = '?sound=' + audio_path;
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/api/serverplay' + sound, true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState == XMLHttpRequest.DONE) {
                    if (xhr.status == 200) {
                        console.log(xhr.responseText);
                        if (xhr.status >= 200 && xhr.status < 300) {
                            var response = JSON.parse(xhr.responseText);
                            if (response.msg == 'ok') 
                                console.log("远程播放完成")
                            }
                        }
                    } else {
                        console.log('请求失败');
                    }
                }
            xhr.send();
        });


        document.getElementById('local-play').addEventListener('click', function() {
            if (audio_path == ''){
                alert("没有可以播放的音频文件");
                return 
            }
            var audio = new Audio('/api/localplay' + '/' + audio_path);
            audio.addEventListener('canplaythrough', function() {
                audio.play();
            });
            audio.load();
        });

        function click_more_button(parentElement){
            var moreButtonsElement = parentElement.querySelectorAll('.btn-more'); 
            moreButtonsElement.forEach(function(morebutton) {
                if(!morebutton.hasAttribute('data-listener-added')){
                    morebutton.setAttribute('data-listener-added', true);
                    morebutton.addEventListener('click', function(e) {
                        console.log(e.target.dataset.id)
                        select_dataset = e.target.dataset.id;
                        const td_text_element = document.querySelector(`[data-id="${e.target.dataset.id}"].truncate`);
                        document.getElementById("editModal").style.display = "block";
                        document.getElementById("edit-text").value = td_text_element.innerText;

                    });
                }
            });   
        }

        document.getElementById('clear').addEventListener('click', function() {
            var text = document.getElementById('text').value;
            text = ""
            document.getElementById('text').value = text;
        });


        function logout() {
            window.location.href = '/logout';
        }

        document.getElementById("sos").addEventListener("click", function() {
            alert("给振南发送短信，功能开发中")
        });


        function online(){
            fetch('/api/online', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                const msg = data.msg;
            })
            .catch((error) => {
                console.error('Error:', error);
                console.log("网络错误")
            });
        }
        
        online();
        setInterval(online, 20000);

        function get_user_info(){
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/api/userinfo/get', true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState == XMLHttpRequest.DONE) {
                    if (xhr.status == 200) {
                        console.log(xhr.responseText);
                        if (xhr.status >= 200 && xhr.status < 300) {
                            var response = JSON.parse(xhr.responseText);
                            if(response.msg == 'ok'){
                                console.log('获取用户信息成功');
                                document.getElementById("user-info-username").innerText = response.info.username;
                                document.getElementById("user-info-uid").innerText = response.info.uid;
                                document.getElementById("user-info-last-login").innerText = response.info.last_login;
                            }
                        }
                    } else {
                        console.log('请求失败');
                    }
                }
            };
            xhr.send();
        }


        get_user_info();

        function get_combined_info(){
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/api/combined/count/get', true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState == XMLHttpRequest.DONE) {
                    if (xhr.status == 200) {
                        console.log(xhr.responseText);
                        if (xhr.status >= 200 && xhr.status < 300) {
                            var response = JSON.parse(xhr.responseText);
                            if(response.msg == 'ok'){
                                console.log('获取用户信息成功');
                                document.getElementById("combined-count").innerText = response.count;
                            }
                        }
                    } else {
                        console.log('请求失败');
                    }
                }
            };
            xhr.send();
        }

        get_combined_info();

    </script>
</body>
</html>