<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <title>振南知波语音在线合成平台</title>
</head>
<body>
    
    <div class="container">
        <div class="top-block">
            <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="logo" class="logo" />
            <h1>ZN Voice</h1>
        </div>
        <div class="middle-block">
            <div class="left">
                <p class="tip-text">1.输入需要合成的语音文字</p>
                <div>
                    <textarea rows="4" placeholder="在这里输入文本" id="text"></textarea>
                    <p class="btn-clear" id="clear">清空输入</p>
                    <div class="sund-content-select"> 
                        <p class="tip-text">2.选择关联音频:</p>
                        <select id="sound" name="sound" class="select">
                            <option value="0">[输入文字]</option>
                            <option value="1">[输入GPT生成用户名]问候</option>
                            <option value="2">[输入AI生成名字]引导提问</option>
                            <option value="3">[输入AI生成名字]打招呼</option>
                            <option value="4">[输入]RTOS和高手C课程进一步介绍</option>
                            <option value="5">[输入]RTOS是全网更低门槛课程有门槛学高手C课程</option>
                            <option value="6">[输入]RTOS课程郭天祥经典</option>
                            <option value="7">[输入]告诉大家振南一直在线答疑</option>
                            <option value="8">[输入]学RTOS之前建议先学高手C</option>
                            <option value="9">[输入]学习课程的重要性</option>
                            <option value="10">[输入]希望我的知识可以帮到大家</option>
                            <option value="11">[输入]引导下单+联系客服</option>
                            <option value="12">[输入]引导多来直播间问问题</option>
                            <option value="13">[输入]引导领内部资料</option>
                            <option value="14">[输入]课程中的经验你在别的课程学不到</option>
                            <option value="15">[输入]课程介绍+让大家留问题振南答疑</option>
                        </select>
                    </div>

                    <div class="sund-content-select"> 
                        <p class="tip-text">3.选择音频模型:</p>
                        <select id="model" name="model" class="select">
                            <option value="0">振南老师</option>
                            <option value="1">暂无其它</option>
                        </select>
                    </div>

                    <button class="custom-button" id="btn-getvoice">合成语音</button>

                    <p class="tip-text">4.合成结果:</p>
                    
                    <div class="info">
                        <div class="file-info">
                            <div class="info-item"> 
                                <p class="info-title padd">合成进度:</p>
                                <div class="progress-bar">
                                    <div class="progress" id="progress" style="width: 0;"></div>
                                </div>
                            </div>

                            <div class="info-item">
                                <p class="info-title padd">生成文件名:</p>
                                <p class="info-result" id="file-name-result">暂无音频</p>
                            </div>

                            <div class="info-item">
                                <p class="info-title padd">时间:</p>
                                <p class="info-result" id="file-time-result">暂无信息</p>
                            </div>

                            <div class="info-item">
                                <p class="info-title padd">时长:</p>
                                <p class="info-result" id="file-length">暂无信息</p>
                            </div>

                            <div class="info-item">
                                <p class="info-title padd">文件大小:</p>
                                <p class="info-result" id="file-size">暂无信息</p>
                            </div>
                        </div>
                    </div>

                <div class="play-audio">
                    <button class="btn-play" id="local-play">本地浏览器播放</button>
                    <button class="btn-play" id="server-play">远程主机播放</button>
                    <button class="btn-play" id="sos">一键呼叫振南</button>
                </div>
                
                </div>
            </div>
            <div class="right">
                <div class="account-area"> 
                    <div class="account-info">
                        <div class="account-title">账号信息</div>
                        <div class="account-logout">退出登录</div>
                    </div>

                    <div class="account-info-text-line"> 
                        <div class="info-item">
                            <p class="info-title">UID:</p>
                            <p class="info-result" id="file-size">暂无信息</p>
                        </div>
                        <div class="info-item">
                            <p class="info-title">用户名:</p>
                            <p class="info-result" id="file-size">暂无信息</p>
                        </div>
                        <div class="info-item">
                            <p class="info-title">本次登录时间:</p>
                            <p class="info-result" id="file-size">暂无信息</p>
                        </div>
                        <div class="info-item">
                            <p class="info-title">在线时长:</p>
                            <p class="info-result" id="file-size">暂无信息</p>
                        </div>
                    </div>
                </div>

                <div class="statics-area"> 
                    <div class="statics-info">
                        <div class="statics-title">使用统计</div>
                    </div>

                    <div class="statics-info-text-line"> 
                        <div class="info-item">
                            <p class="info-title">今日合成次数:</p>
                            <p class="info-result" id="file-size">暂无信息</p>
                        </div>
                        <div class="info-item">
                            <p class="info-title">今日本地播放次数:</p>
                            <p class="info-result" id="file-size">暂无信息</p>
                        </div>
                        <div class="info-item">
                            <p class="info-title">今日远程播放次数:</p>
                            <p class="info-result" id="file-size">暂无信息</p>
                        </div>
                    </div>
                </div>


                <div class="reminder-area"> 
                    <div class="reminder-info">
                        <div class="reminder-title">提醒</div>
                    </div>

                    <div class="reminder-info-text-line"> 
                        <div class="info-item">
                            <p class="info-title">2024年13日21时19分:</p>
                            <p class="info-result" id="file-size">暂无信息234234234</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="bottom-block"></div>
    
    </div>
    <script> 
        var audio_path = '';
        document.getElementById('btn-getvoice').addEventListener('click', function() {
            var get_sound_value = document.getElementById('sound').value;
            var text = document.getElementById('text').value;
            var textparameter = 'text=' + text; 
            var selectparameter = '&select=' + get_sound_value; 

            if (text === '') {
                // 弹窗提示
                alert('输入框不能为空，请输入内容');
                return ;
            }

            
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/api/getmsg?' + textparameter + selectparameter, true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState == XMLHttpRequest.DONE) {
                    if (xhr.status == 200) {
                        console.log(xhr.responseText);
                        if (xhr.status >= 200 && xhr.status < 300) {
                            var response = JSON.parse(xhr.responseText);
                            audio_path = response.data;
                            audio_time = response.time;
                            document.getElementById("file-name-result").innerText = audio_path;
                            document.getElementById("file-time-result").innerText = audio_time;
                            console.log("合成完成")
                        }
                    } else {
                        console.log('请求失败');
                    }
                }
            };
            xhr.send();
        });

        document.getElementById('server-play').addEventListener('click', function() {
            var sound = '?sound=' + audio_path;
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/api/serverplay' + sound, true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState == XMLHttpRequest.DONE) {
                    if (xhr.status == 200) {
                        console.log(xhr.responseText);
                        if (xhr.status >= 200 && xhr.status < 300) {
                            var response = JSON.parse(xhr.responseText);
                            if (response.msg == 'ok') 
                                console.log("远程播放完成")
                            }
                        }
                    } else {
                        console.log('请求失败');
                    }
                }
            xhr.send();
        });

        document.getElementById('local-play').addEventListener('click', function() {
            var audio = new Audio('/api/localplay' + '/' + audio_path);
            audio.addEventListener('canplaythrough', function() {
                audio.play();
            });
            audio.load();
        });

        document.getElementById('clear').addEventListener('click', function() {
            var text = document.getElementById('text').value;
            text = ""
            document.getElementById('text').value = text;
        });

        function updateProgress(percent) {
            document.getElementById('progress').style.width = percent + '%';
        }

        updateProgress(50); 

    </script>
</body>
</html>