<!-- extend.html模板 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
    <title>振南知波语音在线合成平台</title>
</head>
<body>
    <div class="login-background">
        <div class="login-container">
            <div class="logo">
                <img src="{{ url_for('static', filename='img/logo2.svg') }}" alt="Logo">
            </div>
            <h3>用户登录</h3>
            <form id="login" action="/login/auth">
                <div class="form-group">
                    <label for="username">用户名</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">密码</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="box">
                    <div>
                        <input type="checkbox" id="remember" name="remember">
                        <label for="remember">记住密码</label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="登录" class="btn-login">
                </div>
            </form>
        </div>    
    </div>

    <script>
        const rememberCheckbox = document.getElementById("remember");
        const userIdInput = document.getElementById("uid");
        const pwdInput = document.getElementById("pwd");

        if(localStorage.getItem("remember") === "true") {
            rememberCheckbox.checked = true;
            userIdInput.value = localStorage.getItem("username");
            pwdInput.value = localStorage.getItem("password");
        }

        rememberCheckbox.addEventListener("change", function() {
            if(this.checked) {
                localStorage.setItem("remember", "true");
                localStorage.setItem("username", userIdInput.value);
                localStorage.setItem("password", pwdInput.value);
            } else {
                localStorage.removeItem("remember");
                localStorage.removeItem("username");
                localStorage.removeItem("password");
            }
        });
    </script>
</body>
</html>