<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/record.css') }}">
    <title>ZN Voice Admin</title>
</head>
<body>
    <div class="concontiner"> 
        <div class="title">
            语音合成记录
        </div>

        <table class="recordtable">
            <tr>
                <th>时间</th>
                <th>文件名称</th>
                <th>时间长度</th>
                <th>文件大小</th>
                <th>文字描述</th>
                <th>合成用户</th>
                <th>试听</th>
            </tr>

            <tr>
                <td>2024年4月21日18时22分</td>
                <td>asasa.wav</td>
                <td>16(s)</td>
                <td>0.4MB</td>
                <td>
                    <button>查看</button>
                </td>
                <td>小红</td>
                <td>
                    <button>播放</button>
                </td>
            </tr>

            <tr>
                <td>2024年4月21日18时22分</td>
                <td>asasa.wav</td>
                <td>16(s)</td>
                <td>0.4MB</td>
                <td>
                    <button>查看</button>
                </td>
                <td>小红</td>
                <td>
                    <button>播放</button>
                </td>
            </tr>

            <tr>
                <td>2024年4月21日18时22分</td>
                <td>asasa.wav</td>
                <td>16(s)</td>
                <td>0.4MB</td>
                <td>
                    <button>查看</button>
                </td>
                <td>小红</td>
                <td>
                    <button>播放</button>
                </td>
            </tr>

            <tr>
                <td>2024年4月21日18时22分</td>
                <td>asasa.wav</td>
                <td>16(s)</td>
                <td>0.4MB</td>
                <td>
                    <button>查看</button>
                </td>
                <td>小红</td>
                <td>
                    <button>播放</button>
                </td>
            </tr>

            <tr>
                <td>2024年4月21日18时22分</td>
                <td>asasa.wav</td>
                <td>16(s)</td>
                <td>0.4MB</td>
                <td>
                    <button>查看</button>
                </td>
                <td>小红</td>
                <td>
                    <button>播放</button>
                </td>
            </tr>
        </table>
    </div>

    <script>

    </script>
</body>
</html>