<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sms.css') }}">
    <title>ZN Voice Admin</title>
</head>
<body>
    <div class="concontiner"> 
        <div class="title">
            短信记录
        </div>

        <table class="smstable">
            <tr>
                <th>ID</th>
                <th>用户名</th>
                <th>收件人电话</th>
                <th>发送时间</th>
                <th>短信内容</th>
            </tr>
    
            <tr> 
                <td>100</td>
                <td>小红</td>
                <td>18745645444</td>
                <td>2024年4月21日18时22分13秒</td>
                <td>这是短信内容</td>
            </tr>
    
            <tr> 
                <td>100</td>
                <td>小红</td>
                <td>18745645444</td>
                <td>2024年4月21日18时22分13秒</td>
                <td>这是短信内容</td>
            </tr>
    
            <tr> 
                <td>100</td>
                <td>小红</td>
                <td>18745645444</td>
                <td>2024年4月21日18时22分13秒</td>
                <td>这是短信内容</td>
            </tr>
    
            <tr> 
                <td>100</td>
                <td>小红</td>
                <td>18745645444</td>
                <td>2024年4月21日18时22分13秒</td>
                <td>这是短信内容</td>
            </tr>
    
            <tr> 
                <td>100</td>
                <td>小红</td>
                <td>18745645444</td>
                <td>2024年4月21日18时22分13秒</td>
                <td>这是短信内容</td>
            </tr>
    
            <tr> 
                <td>100</td>
                <td>小红</td>
                <td>18745645444</td>
                <td>2024年4月21日18时22分13秒</td>
                <td>这是短信内容</td>
            </tr>
    
            <tr> 
                <td>100</td>
                <td>小红</td>
                <td>18745645444</td>
                <td>2024年4月21日18时22分13秒</td>
                <td>这是短信内容</td>
            </tr>
    
        </table>
    </div>

   

    <script>

    </script>
</body>
</html>