<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sms.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
    <title>ZN Voice Admin</title>
</head>
<body>
    <div class="concontiner"> 
        <div class="title">
            短信记录
        </div>

        <table class="smstable">
            <tr>
                <th>ID</th>
                <th>用户名</th>
                <th>收件人电话</th>
                <th>发送时间</th>
                <th>短信内容</th>
            </tr>
    
            {% for sms in respone.SMSs %}
            <tr> 
                <td data-id="{{sms.id}}">{{sms.id}}</td>
                <td data-id="{{sms.id}}">{{sms.username}}</td>
                <td data-id="{{sms.id}}">{{sms.phone}}</td>
                <td data-id="{{sms.id}}">{{sms.create_at}}</td>
                <td data-id="{{sms.id}}">{{sms.msg}}</td>
            </tr>
            {% endfor %}
        </table>

        <div class="pagination">
            <button id="firstPage"  class="btn-page">首页</button>
            <button id="prevPage" class="btn-page">上一页</button>
            <span>当前页: <span id="currentPage">1</span></span>
            <button id="nextPage" class="btn-page">下一页</button>
            <input type="number" id="manualPage" min="1">
            <button id="goToPage" class="btn-page">跳转</button>
        </div>
        
    </div>

   

    <script>
        let currentPage = 1;
        function loadData(page) {
            api = "/admin/sms/page?page=" + page.toString();
            const table = document.querySelector('.smstable');

            fetch(api)
                .then(response => response.json())
                .then(data => {
                    table.innerHTML = '';
                    smss = data.smss
                    const headerRow = document.createElement('tr');
                    headerRow.innerHTML = `
                        <th>ID</th>
                        <th>用户名</th>
                        <th>收件人电话</th>
                        <th>发送时间</th>
                        <th>短信内容</th>
                    `;

                    table.appendChild(headerRow);
                    smss.forEach(sms => {
                        const row = document.createElement('tr');
                        row.innerHTML = `
                            <td data-id="${sms.id}">${sms.id}</td>
                            <td data-id="${sms.id}">${sms.username}</td>
                            <td data-id="${sms.id}}">${sms.phone}</td>
                            <td data-id="${sms.id}">${sms.create_at}</td>
                            <td data-id="${sms.id}">${sms.msg}</td>
                        `;
                        table.appendChild(row);
                    });
                })
                .catch(error => console.error('Error:', error));
        }

        document.getElementById('firstPage').addEventListener('click', function() {
            currentPage = 1;
            document.getElementById('currentPage').innerText = currentPage;
            loadData(currentPage);
        });

        document.getElementById('prevPage').addEventListener('click', function() {
            if (currentPage > 1) {
            currentPage--;
            document.getElementById('currentPage').innerText = currentPage;
            loadData(currentPage);
            }
        });

        document.getElementById('nextPage').addEventListener('click', function() {
            currentPage++;
            document.getElementById('currentPage').innerText = currentPage;
            loadData(currentPage);
        });

        document.getElementById('goToPage').addEventListener('click', function() {
            const inputPage = parseInt(document.getElementById('manualPage').value);
            if (inputPage >= 1) {
            currentPage = inputPage;
            document.getElementById('currentPage').innerText = currentPage;
            loadData(currentPage);
            }
        });

    </script>
</body>
</html>