<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/users.css') }}">
    <title>ZN Voice Admin</title>
</head>
<body>
    <div class="concontiner"> 
        <div class="title">
            账号管理
            <button class="btn-newuser">新建</button>
        </div>

        <table class="usertable">
            <tr>
                <th>UID</th>
                <th>用户名</th>
                <th>电子邮箱</th>
                <th>上次登录</th>
                <th>操作</th>
            </tr>

            <tr>
                <td>1000000</td>
                <td>小红</td>
                <td>zn@example.com</td>
                <td>2024年4月21日18时22分</td>
                <td>
                    <button>更多</button>
                </td>
            </tr>

            <tr>
                <td>1000000</td>
                <td>小红</td>
                <td>zn@example.com</td>
                <td>2024年4月21日18时22分</td>
                <td>
                    <button>更多</button>
                </td>
            </tr>

            <tr>
                <td>1000000</td>
                <td>小红</td>
                <td>zn@example.com</td>
                <td>2024年4月21日18时22分</td>
                <td>
                    <button>更多</button>
                </td>
            </tr>

            <tr>
                <td>1000000</td>
                <td>小红</td>
                <td>zn@example.com</td>
                <td>2024年4月21日18时22分</td>
                <td>
                    <button>更多</button>
                </td>
            </tr>

        </table>

    </div>
    <script>

    </script>
</body>
</html>