<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/userstatics.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
    <title>ZN Voice Admin</title>
</head>
<body>
    <div class="concontiner"> 
        <div class="title">
            在线账号
        </div>

        <ul class="list">
            {% for user in respone.users %}
            <li>
                <div class="item">
                    <p data-id="{{user.uid}}">用户名:{{user.username}}</p>
                    <p data-id="{{user.uid}}">刷新时间:{{user.time}}</p>
                </div>
            </li>
            {% endfor %}
        </ul>

    </div> 
    <script>
    </script>
</body>
</html>