<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/userstatics.css') }}">
    <title>ZN Voice Admin</title>
</head>
<body>
    <div class="concontiner"> 
        <div class="title">
            在线账号
        </div>

        <ul class="list">

            {% for user in respone.users %}

            <li>
                <div class="item">
                    <p>UID:{{user.uid}}</p>
                    <p>用户名:小红</p>
                    <p>登录时间:2024年1月24日16时20分</p>
                    <p>在线时长:4小时00分</p>
                </div>
            </li>

            {% endfor %}
            <li>
                <div class="item">
                    <p>UID:100000001</p>
                    <p>用户名:小红</p>
                    <p>登录时间:2024年1月24日16时20分</p>
                    <p>在线时长:4小时00分</p>
                </div>
            </li>

            <li>
                <div class="item">
                    <p>UID:100000001</p>
                    <p>用户名:小红</p>
                    <p>登录时间:2024年1月24日16时20分</p>
                    <p>在线时长:4小时00分</p>
                </div>
            </li>

            <li>
                <div class="item">
                    <p>UID:100000001</p>
                    <p>用户名:小红</p>
                    <p>登录时间:2024年1月24日16时20分</p>
                    <p>在线时长:4小时00分</p>
                </div>
            </li>

            <li>
                <div class="item">
                    <p>UID:100000001</p>
                    <p>用户名:小红</p>
                    <p>登录时间:2024年1月24日16时20分</p>
                    <p>在线时长:4小时00分</p>
                </div>
            </li>

            <li>
                <div class="item">
                    <p>UID:100000001</p>
                    <p>用户名:小红</p>
                    <p>登录时间:2024年1月24日16时20分</p>
                    <p>在线时长:4小时00分</p>
                </div>
            </li>

            <li>
                <div class="item">
                    <p>UID:100000001</p>
                    <p>用户名:小红</p>
                    <p>登录时间:2024年1月24日16时20分</p>
                    <p>在线时长:4小时00分</p>
                </div>
            </li>

            <li>
                <div class="item">
                    <p>UID:100000001</p>
                    <p>用户名:小红</p>
                    <p>登录时间:2024年1月24日16时20分</p>
                    <p>在线时长:4小时00分</p>
                </div>
            </li>

            <li>
                <div class="item">
                    <p>UID:100000001</p>
                    <p>用户名:小红</p>
                    <p>登录时间:2024年1月24日16时20分</p>
                    <p>在线时长:4小时00分</p>
                </div>
            </li>

            <li>
                <div class="item">
                    <p>UID:100000001</p>
                    <p>用户名:小红</p>
                    <p>登录时间:2024年1月24日16时20分</p>
                    <p>在线时长:4小时00分</p>
                </div>
            </li>

            <li>
                <div class="item">
                    <p>UID:100000001</p>
                    <p>用户名:小红</p>
                    <p>登录时间:2024年1月24日16时20分</p>
                    <p>在线时长:4小时00分</p>
                </div>
            </li>

            <li>
                <div class="item">
                    <p>UID:100000001</p>
                    <p>用户名:小红</p>
                    <p>登录时间:2024年1月24日16时20分</p>
                    <p>在线时长:4小时00分</p>
                </div>
            </li>
            

        </ul>

    </div> 
    <script>
    </script>
</body>
</html>