<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/voices.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
    <title>ZN Voice Admin</title>
</head>
<body>
    <div class="concontiner"> 
        <div class="title">
            语音管理
            <button class="btn-newvoice" id="btn-newvoice">上传</button>
        </div>

        <table class="voicetable" id="voicetable">
            <tr>
                <th>编号</th>
                <th>文件名称</th>
                <th>文件大小</th>
                <th>时间长度</th>
                <th>文字描述</th>
                <th>新建时间</th>
                <th>操作</th>
            </tr>
            {% for voice in respone.files%}
            <tr>
                <td data-id="{{ voice.id }}" class="td-fileid">{{ voice.id }}</td>
                <td data-id="{{ voice.id }}">{{ voice.filename }}</td>
                <td data-id="{{ voice.id }}">{{ voice.size }}(MB)</td>
                <td data-id="{{ voice.id }}">{{ voice.lenght }}(s)</td>
                <td data-id="{{ voice.id }}">
                    <div data-id="{{ voice.id }}" class="truncate" title="{{ voice.text }}">{{ voice.text }}</div>
                </td>
                <td data-id="{{ voice.id }}">{{ voice.create_at }}</td>
                <td>
                    <button class="btn-more" data-id="{{ voice.id }}">编辑文字</button>
                </td>
            </tr>
            {% endfor %}
        </table>

        <div class="pagination">
            <button id="firstPage"  class="btn-page">首页</button>
            <button id="prevPage" class="btn-page">上一页</button>
            <span>当前页: <span id="currentPage">1</span></span>
            <button id="nextPage" class="btn-page">下一页</button>
            <input type="number" id="manualPage" min="1">
            <button id="goToPage" class="btn-page">跳转</button>
        </div>
    </div>


    <div id="myModal" class="modal">
        <div class="modal-content">
          <span class="close" id="btn-close">&times;</span>
            <div id="drop-area">
                <h3>拖放文件到此处或点击选择文件</h3>
                <input type="file" id="file-input" accept=".wav" style="display: none;">
                <div id="drop-zone">选择文件(WAV)</div>
            </div>
        </div>
    </div>

    <div id="editModal" class="modal">
        <div class="modal-content">
          <span class="close" id="btn-editclose">&times;</span>
          <h2>编辑描述信息</h2>
            <textarea rows="20" placeholder="在这里输入文本" id="edit-text"> </textarea>
            <button class="btn-sumbit" id="btn-edit_sumbit">保存</button>
        </div>
      </div>


    <script>
        let currentPage = 1;
        function loadData(page) {
            api = "/admin/voices/page?page=" + page.toString();
            const table = document.querySelector('.voicetable');

            fetch(api)
                .then(response => response.json())
                .then(data => {
                    table.innerHTML = '';
                    files = data.files
                    const headerRow = document.createElement('tr');
                    headerRow.innerHTML = `
                        <th>编号</th>
                        <th>文件名称</th>
                        <th>文件大小</th>
                        <th>时间长度</th>
                        <th>文字描述</th>
                        <th>新建时间</th>
                        <th>操作</th>
                    `;

                    table.appendChild(headerRow);
                    files.forEach(file => {
                        const row = document.createElement('tr');
                        row.innerHTML = `
                            <td data-id="${file.id}">${file.id}</td>
                            <td data-id="${file.id}">${file.filename}</td>
                            <td data-id="${file.id}">${file.size}(MB)</td>
                            <td data-id="${file.id}"">${file.lenght}(s)</td>
                            <td data-id="${file.id}">
                                <div data-id="${file.id}" class="truncate" title="${file.text}">${file.text}</div>
                            </td>
                            <td data-id="${file.id}">${file.create_at}</td>
                            <td>
                                <button class="btn-more" data-id="${file.id}">编辑</button>
                            </td>
                        `;
                        table.appendChild(row);
                        var parentElement = document.getElementById('voicetable');
                        click_more_button(parentElement);                
                    });
                })
                .catch(error => console.error('Error:', error));
        }

        document.getElementById('firstPage').addEventListener('click', function() {
            currentPage = 1;
            document.getElementById('currentPage').innerText = currentPage;
            loadData(currentPage);
        });

        document.getElementById('prevPage').addEventListener('click', function() {
            if (currentPage > 1) {
            currentPage--;
            document.getElementById('currentPage').innerText = currentPage;
            loadData(currentPage);
            }
        });

        document.getElementById('nextPage').addEventListener('click', function() {
            currentPage++;
            document.getElementById('currentPage').innerText = currentPage;
            loadData(currentPage);
        });

        document.getElementById('goToPage').addEventListener('click', function() {
            const inputPage = parseInt(document.getElementById('manualPage').value);
            if (inputPage >= 1) {
            currentPage = inputPage;
            document.getElementById('currentPage').innerText = currentPage;
            loadData(currentPage);
            }
        });

        function click_more_button(parentElement){
            var moreButtonsElement = parentElement.querySelectorAll('.btn-more'); 
            moreButtonsElement.forEach(function(morebutton) {
                if(!morebutton.hasAttribute('data-listener-added')){
                    morebutton.setAttribute('data-listener-added', true);
                    morebutton.addEventListener('click', function(e) {
                        console.log(e.target.dataset.id)
                        select_dataset = e.target.dataset.id;
                        const td_text_element = document.querySelector(`[data-id="${e.target.dataset.id}"].truncate`);
                        document.getElementById("editModal").style.display = "block";
                        document.getElementById("edit-text").value = td_text_element.innerText;

                    });
                }
            });   
        }

        document.getElementById("edit-text").addEventListener('change', function(e) {
            document.getElementById("edit-text").value = e.target.value;
        });


        document.getElementById("btn-editclose").addEventListener('click', function(e) {
            document.getElementById("editModal").style.display = "none";
        });

        var parentElement = document.getElementById('voicetable');
        click_more_button(parentElement);

        document.getElementById("btn-newvoice").addEventListener('click', function(e) {
            document.getElementById("myModal").style.display = "block";
        });

        document.getElementById("btn-close").addEventListener('click', function(e) {
            document.getElementById("myModal").style.display = "none";
        });

        const dropZone = document.getElementById('drop-zone');
        const fileInput = document.getElementById('file-input');
        
        dropZone.addEventListener('dragover', (event) => {
          event.preventDefault();
        });
        
        dropZone.addEventListener('drop', (event) => {
          event.preventDefault();
          handleFiles(event.dataTransfer.files);
        });
        
        dropZone.addEventListener('click', () => {
          fileInput.click();
        });
        
        fileInput.addEventListener('change', (event) => {
          handleFiles(event.target.files);
        });
        
        function handleFiles(files) {
            const validTypes = ['.wav'];
            for (const file of files) {
              const fileName = file.name.toLowerCase();
              const isValidType = validTypes.some(type => fileName.endsWith(type));
              if (!isValidType) {
                alert(`文件 ${file.name} 不符合格式要求`);
                return;
              }
            }
        
            const formData = new FormData();
            for (const file of files) {
                formData.append('file', file);
            }
        
            fetch('/admin/voices/upload', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                document.getElementById("myModal").style.display = "none";

                if (data.status == "success") {
                    alert('文件上传成功');
                } else if (data.status == "fail") {
                    alert('文件上传失败');
                } else if (data.status == "exist") {
                    alert('文件已存在');
                }
            })
            .catch(error => {
                console.error(error);
                alert('文件上传失败');
            });
        }


        document.getElementById("btn-edit_sumbit").addEventListener('click', function(e) {
            const td_id_element = document.querySelector(`[data-id="${select_dataset}"].td-fileid`).innerText;
            const edit_text = document.getElementById("edit-text").value;

            fetch('/admin/voices/edit', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    id: td_id_element,
                    edit_text: edit_text
                })
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                const status = data.status;
                if(status == "success"){
                    document.getElementById("editModal").style.display = "none";
                    alert("修改成功");
                }
                else{
                    alert("修改失败，存在重复数据");
                }
            })
            .catch((error) => {
                console.error('Error:', error);
                alert("网络错误");
            });
            document.getElementById("editModal").style.display = "none";
        });

    </script>
</body>
</html>