<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/voices.css') }}">
    <title>ZN Voice Admin</title>
</head>
<body>
    <div class="concontiner"> 
        <div class="title">
            语音管理
            <button class="btn-newvoice">新建</button>
        </div>

        <table class="voicetable">
            <tr>
                <th>编号</th>
                <th>文件名称</th>
                <th>文件大小</th>
                <th>时间长度</th>
                <th>文字描述</th>
                <th>新建时间</th>
                <th>操作</th>
            </tr>

            <tr>
                <td>11111</td>
                <td>asasa.wav</td>
                <td>0.4MB</td>
                <td>16(s)</td>
                <td>哈哈哈哈哈</td>
                <td>2024年4月21日18时22分</td>
                <td>
                    <button>编辑</button>
                </td>
            </tr>

            <tr>
                <td>11111</td>
                <td>asasa.wav</td>
                <td>0.4MB</td>
                <td>16(s)</td>
                <td>哈哈哈哈哈</td>
                <td>2024年4月21日18时22分</td>
                <td>
                    <button>编辑</button>
                </td>
            </tr>

            <tr>
                <td>11111</td>
                <td>asasa.wav</td>
                <td>0.4MB</td>
                <td>16(s)</td>
                <td>哈哈哈哈哈</td>
                <td>2024年4月21日18时22分</td>
                <td>
                    <button>编辑</button>
                </td>
            </tr>

            <tr>
                <td>11111</td>
                <td>asasa.wav</td>
                <td>0.4MB</td>
                <td>16(s)</td>
                <td>哈哈哈哈哈</td>
                <td>2024年4月21日18时22分</td>
                <td>
                    <button>编辑</button>
                </td>
            </tr>


            <tr>
                <td>11111</td>
                <td>asasa.wav</td>
                <td>0.4MB</td>
                <td>16(s)</td>
                <td>哈哈哈哈哈</td>
                <td>2024年4月21日18时22分</td>
                <td>
                    <button>编辑</button>
                </td>
            </tr>



        </table>

    </div>

    <script>

    </script>
</body>
</html>