<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/words.css') }}">
    <title>ZN Voice Admin</title>
</head>
<body>
    <div class="concontiner"> 
        <div class="title">
            敏感词管理
        </div>

        <textarea rows="20" placeholder="在这里输入文本" id="text"></textarea>
        <button class="btn-save">保存</button>

    </div>

    <script>

    </script>
</body>
</html>